* {
    box-sizing: border-box;    
}

/* @temp */
html ::-webkit-input-placeholder {
    color:    #999;
    font-size: 14px;
}

button {
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    transition: .2s;
    outline: none;
}
button:hover {
    background: #000;
    color: #fff;
}

button:disabled {
    cursor: default;
}
button:disabled:hover {
    background: inherit;
    color: gray;
}

/* @temp-end */

/* 侧边栏 */
.l-sidebar {
    position: fixed;
    display: inline-block;
    width: 24%;
    height: 100%;
    transition: filter .1s linear;
}

.l-sidebar--nor {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #3d485d; */
    overflow: auto;
    background-color: #3e81ad;
    background-image: linear-gradient(304deg, #3e81ad 0%, #41448e 100%);
}

/* 左上按钮 */
.share-sidebar-top-btn {
    position: absolute;
    height: 5%;
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin: 2.5% 7%;
}

.share-sidebar-top-btn img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#share-btn-logout,
#share-btn-settings {
    opacity: .8;
}

#share-btn-logout:hover,
#share-btn-settings:hover {
    opacity: 1;
}

/* 头像etc. */
.share-user {
    margin-top: 2%;
    margin-bottom: 10%;
}

.share-user-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
    padding: 15% 0;
    background: rgba(255, 255, 255, .1);
}
.share-user-info:hover {
    background: rgba(255, 255, 255, .15);
}

#share-user-info__head {
    margin: 5% auto;
}

#share-user-info__name {
    width: 80%;
    margin-left: 10%;
    color: #f2f2f2;
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .2s;
}
#share-user-info__name:hover {
    text-decoration: underline;
    text-shadow: 0 0 6px #bbb;
}

.account-info__title::before {
    content: url(../images/icon-person.png);
    position: absolute;
    left: 30px;
    top: 15px;
}

/* 借入发起按钮 */
.share-require {
    display: flex;
    padding: 0 10%;
    width: 90%;
    margin: 5%;
}

#share-require__btn {
    padding: 10px 70px;
    margin: 0 auto;
    color: #fff;
    background: rgba(53, 204, 250, .85);
    border: none;
    font-size: 25px;
}
#share-require__btn:hover {
    background: #35ccfa;
}
#share-require__btn:active {
    background: #42b6da;
}

/* 功能选择 */
.share-column {
    margin: 0 5%;
    padding: 5% 0;
    color: #ffff7c;
    text-align: center;
    font-size: 30px;
}

.share-column-list__item {
    position: relative;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    transition: .3s;
}
.share-column-list__item:hover:not(.share-column-list__item--act) {
    background-image: linear-gradient(rgba(255, 255, 255, .05), rgba(255, 255, 255, .1));
}
.share-column-list__item:hover::before {
    content: url(../images/double-right.png);
    position: absolute;
    left: 50px;
}
.share-column-list__item:hover::after {
    content: url(../images/double-right.png);
    position: absolute;
    right: 50px;
    transform: rotateY(180deg);
}

.share-column-list__item--act {
    width: 100%;
    color: yellow;
    background: #2b86c5 url(../images/list-selected.png) no-repeat;
    font-weight: bold;
    z-index: 1;
    transform: scale(1.1);
}

.sidebar-plus {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: auto;
}

/* 注册登录侧边栏 */
.l-sidebar--account {
    left: 100%;
    background: #3d485d;
}

#share-login-cancel__a {
    display: block;
    margin: 3% 0 3% 3%;
    color: yellow;
    font-size: 20px;
    cursor: pointer;
}

.share-logo {
    margin: 3% auto;
}
#share-logo__img {
    width: 50%;
    margin: 0 25%;
}

.share-choose-login-reg {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    color: #ccc;
    font-size: 24px;
    cursor: default;
}

.share-choose-login-reg__item {
    width: 50%;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    text-align: center;
    cursor: pointer;
}
.share-choose-login-reg__item:hover:not(.share-choose-login-reg__item--act) {
    border-bottom: 2px solid #999;
}

.share-choose-login-reg__item--act {
    width: 65%;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 28px;
    transition: .3s;
}

/* 登录注册信息框 */
.share-account {
    background: #88888888;
    width: 80%;
    margin: 5% 10%;
    padding: 5%;
    font-size: 16px;
}

.share-account ::-webkit-input-placeholder {
    color:    #999;
    font-size: 18px;
}

.share-account__register {
    display: none;
}

.share-account input[type="text"],
.share-account input[type="password"] {
    margin: 10px;
    padding: 3px 12px;
    height: 40px;
    width: 90%;
    border: none;
    font-size: 20px;
    transition: .2s;
}
.share-account input[type="text"]:focus,
.share-account input[type="password"]:focus {
    box-shadow: 0 0 10px 2px #ddd;
}

.share-account__btn {
    display: block;
    margin: 5% auto;
    width: 70px;
    height: 35px;
    border: 2px solid #183d69;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.share-account__btn:hover {
    background: #183d69;
}
.share-account__btn:disabled {
    background: #ff3a3a;
    cursor: default;
    border-color: transparent;
}

.account-tips {
    display: none;
    margin-left: 10px;
    font-size: 14px;
    color: red;
}
.account-tips::before {
    content: url(../images/icon-warning.png);
    position: relative;
    top: 2px;
}

/* 用户信息侧边栏 */
.l-sidebar--info {
    padding: 100px 20px 0 50px;
    background: rgba(0, 0, 0, .4);
    background: rgba(17, 29, 28, .75);
    display: block;
    z-index: 100;
    left: 0;
    color: #90fff9;
    display: none;
}

.share-account-info {
    margin: 0 auto;
}

.account-info__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px; 
    background: rgba(144, 255, 249, 0.6);
    color: white;
    text-align: center;
    font-size: 30px;
}

.share-account-info__item {
    margin: 10px 0;
}

.account-info-attr {
    font-size: 20px;
}

.share-account-info input,
.share-account-info textarea {
    margin-top: 5px;
    padding: 5px 10px;
    color: white;
    background: rgba(144, 255, 249, 0.164);
    border: 2px solid #90fff9;
    outline: none;
    transition: .2s;
}
.share-account-info input:focus,
.share-account-info textarea:focus {
    background: rgba(144, 255, 249, 0.3);
}

.share-account-info-btn {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
}

#account-info-btn__cancel,
#account-info-btn__update {
    margin-right: 20px;
    padding: 5px 30px;
    color: #90fff9;
    border: 3px solid #90fff9;
}
#account-info-btn__cancel:hover,
#account-info-btn__update:hover {
    background: rgba(144, 255, 249, 0.6);
    color: white;
}

/* 页面右侧内容区 */
.l-content {
    position: fixed;
    right: 0;
    width: 76%;
    height: 100%;
    background: #f5f5f5;
    transition: filter .1s linear;
}

.share-rmb {
    font-family: "Arial";
    font-style: normal;
}

/* 主内容 */
/* .l-main { */
.l-content > * {
    height: 100%;
}

/* 主内容顶部 */
.main__hd {
    display: flex;
    padding: 5px 0 5px 25px;
    height: 80px;
    background-color: #A9C9FF;
    background-image: linear-gradient(90deg, #A9C9FF 0%, #FFBBEC 100%);
}

.main-head-search {
    width: 55%;
    height: 50%;
}

.main-head-hot span:hover{
    text-decoration: underline;
    cursor: pointer;
}

#searchBox {
    width: 83%;
    height: 100%;
    border: transparent;
    border-radius: 0 3px 3px 0;
    background: rgba(255, 255, 255, 0.7);
    transition: .2s;
}
#searchBox:focus {
    width: 88%;
    background: rgba(255, 255, 255, 0.9);
}

#mainSearchBtn {
    position: relative;
    top: 1px;
    right: 10%;
    width: 10%;
    height: calc(100% + 1px);
    border: none;
    border-radius: 0 3px 3px 0;
    background: #0784ce;
    color: rgba(242, 242, 242, .95);
}

#mainSearchBtn:hover {
    background: #1979b3;
    color: #f5f5f5;
}

#mainSearchBtn:active {
    background: #166799;
}

.main-head-qrcode {
    line-height: 80px;
    cursor: pointer;
    font-size: 22px;
}

.main-head-qrcode__pic {
    display: none;
    position: fixed;
    margin-top: -20px;
    width: 100px;
    height: 100px;
    background: #000;
    z-index: 2;
}

.main-head-sort {
    position: absolute;
    right: 30px;
    line-height: 75px;
    font-size: 20px;
}

/* 物品列表 */
.goods-list {
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 90%;
    padding: 1% 2%;
}

/* 单个物品信息 */
.goods-list__item {
    display: inline-block;
    width: 46%;
    height: 200px;
    background: #fff;
    margin: 1.5%;
    box-shadow: -6px 5px 10px 2px #bbb;
    transition: .3s;
}
.goods-list__item:hover {
    /* 下方item异常显示 */
    /* transform: scale(1.05); */
    /* z-index: 1; */
    background: #ddecec;
}

.goods-item__hd {
    display: flex;
    justify-content: space-around;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background: #82d4e6;
}

.goods-item__bd {
    /* float导致高度塌陷 */
    position: relative;
    height: calc(100% - 30px);
    padding: 2% 5%;
}

.goods-item__pic {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
}

.goods-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.goods-img-intro {
    position: absolute;
    height: 25px;
    width: 100%;
    bottom: 0;
    padding: 0 3%;
    background: white;
    color: black;
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .8;
    transition: .1s;
}
.goods-img-intro:hover {
    height: 100%;
    padding: 5px 3%;
    line-height: initial;
    overflow: auto;
    white-space: normal;
    word-break: break-all;
}

.goods-item__info {
    float: right;
    position: relative;
    width: 50%;
    right: 6%;
}

.goods-info {
    margin-bottom: 10px;
}

.goods-property {
    font-weight: bold;
}

.position-txt {
    text-decoration: underline;
    cursor: pointer;
    word-break: break-all;
}
.position-txt::before {
    content: url(../images/icon-location.png);
    position: relative;
    top: 2px;
}
.position-txt:hover {
    text-decoration: underline;
    color: blue;
}

.position-map {
    display: none;
    position: absolute;
    background: transparent;
    overflow: hidden;
    z-index: 1;
}

.goods-position-map {
    width: 300px;
    height: 200px;
    right: 10px;
    top: 130px;
}

#goods-map {
    height: 100%;
    position: relative;
    bottom: 100%;
    border: 1px solid #000;
}

.map-close {
    position: absolute;
    right: 10px;
    font-size: 35px;
    z-index: 10;
    cursor: pointer;
}

.map-close:hover {
    color: #000;
    transform: scale(1.05);
}

.goods-item__enter {
    position: absolute;
    top: 60px;
    right: -20px;
}

.goods-enter {
    width: 40px;
    height: 40px;
    background: #52c3f8;
    color: white;
    border: 2px solid #6161ff;
    border-radius: 100%;
    font-size: 18px;
    transition: .3s;
}
.goods-enter:hover {
    background: #2db7f5;
    box-shadow: 0 0 10px 0 blue;
    transform: scale(1.1);
}
.goods-enter:active {
    background: #2594c7;
}


/* 通用弹窗 */
.alert-box {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    z-index: 3;
}

/* 发起借出弹窗 */
.alert-box-lend {
    width: 800px;
    height: 550px;
    border-radius: 15px;
}

.alert-box-lend label {
    font-weight: bold;
}

.alert-box-lend input[type="text"] {
    width: 190px;
    padding-left: 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #555;
    transition: .3s;
}

.alert-box-lend input[type="text"]:focus {
    border-bottom: 2px solid #111;
    width: 200px;
}

.alert-box-lend hr {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 380px;
    left: 50%;
    top: 90px;
}

#lend-launch__hd {
    width: 100%;
    height: 80px;
    background: #888;
    box-shadow: 0 5px 15px 3px rgba(0,0,0,0.5);
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #eee;
}

#lend-launch-close {
    float: right;
    height: 20px;
    width: 20px;
    margin: -60px 20px 0;
    font-size: 35px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#lend-launch-close:hover {
    color: #fff;
    text-shadow: 3px -2px 2px #000;
}

#lend-launch__bd {
    padding: 10px 30px;
}

.lend-launch__left {
    float: left;
}

.lend-launch__right {
    float: right;
    width: 47%;
}

.lend-launch__item {
    margin: 20px 0;
}

.lend-launch__item .share-rmb{
    color: #aaa;
}

#lend-time {
    width: 60px;
}

#lend-price {
    border-bottom-color: #aaa;
}

.lend-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#lend-map-position-txt {
    display: block;
    max-width: 350px;
    font-size: 14px;
    width: 320px;
    color: gray;
}

#lend-map {
    width: 350px;
    height: 250px;
}

#lend-left-char {
    position: absolute;
    top: 270px;
    right: 60px;
    font-size: 12px;
    color: #999;
}

#lend-left-char-num {
    color: black;
}

.lend-launch__ft {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
}

.lend-tips {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 35px;
    color: red;
    font-size: 14px;
}
.lend-tips::before {
    content: url(../images/icon-warning.png);
    position: relative;
    top: 3px;
}

.lend-btns {
    display: flex;
    justify-content: center;
}

.lend-btns button {
    width: 70px;
    height: 35px;
    margin: 0 10px;
}

/* 已借出/已借入类型选择 */
.my-type {
    float: left;
    width: 50px;
    height: 100%;
    background: #aaa;
}

.my-type__item {
    writing-mode: vertical-rl;
    height: 25%;
    width: 100%;
    line-height: 50px;
    /* = padding: 0 calc(50% - 17px); */
    font-size: 25px;
    text-align: center;
    /* = display: flex; */
    /* += justify-content: space-around; */
    letter-spacing: 10px;
    cursor: pointer;
    font-weight: lighter;
    overflow: hidden;
    transition: .2s;
}

.my-type__item:hover {
    /* TODO:交叉重叠问题 */
    transform: scale(1.2);
}

div.my-type--act {
    font-weight: bold;
    /* background-image: linear-gradient(rgba(0, 0, 0, .04), rgba(0, 0, 255, .08)); */
    /* border: 3px solid #fff; */
    box-shadow: 0 0 15px 1px #555;
}

#my-lend-type__all, #my-borrow-type__all {
    background-color: #feb890;
    color: #724730;
}
.my-lend-color-waiting, 
.my-borrow-color-auditing {
    background: #feeb9e;
    color: #715804;
}
.my-lend-color-lending, 
.my-borrow-color-borrowed {
    background: #ffba5f;
    color: #664f05;
}
.my-lend-color-finished, 
.my-borrow-color-returned {
    background: #b0fdbd;
    color: #154e1b;
}

/* 已借出已借出列表 */
.my-list {
    float: right;
    position: relative;
    width: calc(100% - 50px);
    height: 100%;
    padding: 2% 10%;
    background: #f5f5f5;
    overflow-y: auto;
}

.my-lend__item {
    display: flex;
    height: 165px;
    margin-bottom: 30px;
    background: #d6d6d6;
    box-shadow: -6px 6px 10px 2px #bbb;
    transition: .3s;
}
.my-lend__item:hover {
    transform: scale(1.05);
}

.my-status-color {
    width: 30px;
    height: 100%;
}


.my-item__pic {
    display: inline-block;
    position: relative;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

.my-item__pic img{
    height: 86%;
    max-width: 105%;
    margin-top: 7%;
}

.my-item__info-1 {
    width: 19%;
    margin-left: 3%;
}

.my-item__info-2 {
    width: 18%;
}

.my-item__info-1 div,
.my-item__info-2 div {
    margin: 10px 0;
    height: 41px;
}

.my-property {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.my-lend-item__description {
    width: 25%;
    margin-top: 10px;
}

.my-lend-item-description__txt {
    width: 90%;
    height: 75%;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1.5px solid #555;
    word-wrap: break-word;
    word-break: break-all;
    overflow: auto;
}

.my-item__op {
    background: white;
    width: calc(15% - 30px);
}

.my-item-status__txt {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.my-item-btn {
    height: 30px;
    width: 70%;
    margin: 23% 15% 0;
}

/* 借入Item */
.my-borrow__item {
    display: flex;
    position: relative;
    height: 165px;
    margin-bottom: 30px;
    background: #d6d6d6;
    box-shadow: -6px 6px 10px 2px #bbb;
    transition: .3s;
}
.my-borrow__item:hover {
    /* transform: scale(1.05); */
    box-shadow: -6px 6px 10px 2px #9b9b9b;
}

.my-borrow-description {
    position: absolute;
    height: 25px;
    width: 100%;
    bottom: 7%;
    padding: 0 3%;
    background: white;
    color: black;
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .7;
    transition: .1s;
}
.my-borrow-description:hover {
    height: 86%;
    padding: 5px 5%;
    line-height: initial;
    overflow: auto;
    white-space: normal;
    word-break: break-all;
}

.my-borrow-item__position {
    width: 25%;
    margin-top: 10px;
}

.my-borrow-position-map {
    width: 300px;
    height: 200px;
    right: 100px;
    top: 80px;
}

#my-borrow-map {
    height: 100%;
    position: relative;
    bottom: 100%;
    border: 1px solid #000;
}

/* 通知、审核内容 */
.l-audit-inform {
    overflow: auto;
    padding: 5% 10%;
}

.audit-inform-btn{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.audit-btn__agree {
    right: 105px;
    color: green;
    border: 1px solid green;
}
.audit-btn__agree:hover {
    background: #005e00;
}
.audit-btn__refuse {
    color: #dc1414;
    right: 16px;
    border: none;
}
.audit-btn__refuse:hover {
    background: #bb1818;
}

.audit-inform-list__title {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 5px;
}

.audit-list__item {
    position: relative;
    margin-bottom: 5px;
    padding: 15px 30px;
    color: white;
    background-color: #4DDEF9;
    background-image: linear-gradient(120deg, #4DDEF9 0%, #cb5cff 100%);
    border-radius: 0 20px;
}
.audit-list__item:hover {
    opacity: .8;
    box-shadow: 0 0 8px 0 #bbb;
}

.inform-list__item {
    margin-bottom: 5px;
    padding: 10px 30px;
    background: #ccc;
    color: #2d2d2d;
    border-radius: 5px;
}
/* .inform-list__item:nth-child(odd) {
    background: #bbb;
} */
.inform-list__item:hover {
    color: #000;
    opacity: .8;
    box-shadow: 2px 2px 5px #bbb;
}

.inform-list__item--new {
    /* TODO: */
}

/* 背景遮罩（弹窗层以下） */
#body-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
}

.full-screen-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.full-screen-container img {
    max-width: 80%;
    max-width: 80%;
}

/* 通用提示（顶层）@弃用 */
/* .prompt-box {
    position: fixed;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    z-index: 100;
} */

/* sweetAlert */
.swal-modal.red-bg {
    background: rgba(255, 0, 0, 0.388);
}

.red-bg .swal-text {
    font-size: 24px;
    color: #fff;
}

.swal-button--confirm:hover {
    background: #4bbbf0;
}

.swal-button--cancel:hover {
    color: #333;
    background: #d5d5d5;
}

.swal-button--danger:hover {
    background: #df271e;
}

/* 抄的 */
.text-effect-flame{
    display: block;
    color: #fff;
    text-align: center;
    text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000, 0px -18px 40px red;
    position: relative;
}