/* http://www.xuanfengge.com/css3-webkit-scrollbar.html */

::-webkit-scrollbar-track/*滚动条里面轨道*/
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb/*滚动条里面小方块*/
{
    background-color: #0ae;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                       color-stop(.5, rgba(255, 255, 255, .2)),
                       color-stop(.5, transparent), to(transparent));
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0ce;
}

/*::-webkit-scrollbar-button {
    width: 12px;
    content: '↓';
}*/

.goods-img-intro::-webkit-scrollbar {
    width: 8px;
}

.dropzone::-webkit-scrollbar {
    height: 8px;
}

#chatMessage::-webkit-scrollbar, 
.chat-history::-webkit-scrollbar {
    width: 4px;
}

.chat-history::-webkit-scrollbar-track {
    background-color: #ccc;
    box-shadow: none;
}