* {
    box-sizing: border-box;    
}

/* @temp */
html ::-webkit-input-placeholder {
    color:    #999;
    font-size: 18px;
}
/* @temp-end */

/* 侧边栏 */
.l-sidebar {
    position: fixed;
    display: inline-block;
    width: 25%;
    height: 100%;
    overflow: hidden;
    transition: filter .2s linear;
}

.l-sidebar--nor {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    overflow: auto;
}

/* 左上按钮 */
.share-sidebar-top-btn {
    height: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 2.5% 5%;
}

.share-sidebar-top-btn img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#share-btn-logout:hover {

}

#share-btn-settings:hover {

}

/* 头像etc. */
.share-user-info {
    display: flex;
    flex-direction: column;
    /* height: 40%; */
    width: 90%;
    margin: 0 5%;
    padding: 15% 0;
    background: #bbb;

}
#share-user-info__head {
    margin: 5% auto;
}
#share-user-info__name {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
#share-user-info__name:hover {
    text-decoration: underline;
}

/* 借入发起按钮 */
.share-require {
    display: flex;
    padding: 2% 10%;
    width: 90%;
    margin: 5%;
    background: #bbb;
}

#share-require__btn {
    font-size: 25px;
    padding: 2% 15%;
    margin: 0 auto;
}

/* 功能选择 */
.share-column {
    margin: 5%;
    padding: 5% 15%;
    text-align: center;
    background: #bbb;
    font-size: 30px;
}

.share-column-list__item {
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
.share-column-list__item:hover {
    background: #aaa;
}

.share-column-list__item--act {
    background: #ddd;
}

/* 注册登录侧边栏 */
.l-sidebar--account {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    background: #aaa;
    overflow: auto;
    /* z-index: 1 !important; */
}

#share-login-cancel__a {
    display: block;
    margin: 3% 0 3% 3%;
    font-size: 25px;
    cursor: pointer;
}

.share-logo {
    margin: 3% auto;
}
#share-logo__img {
    width: 60%;
    margin: 0 20%;
}

.share-choose-login-reg {
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 60%;
    margin: 10% auto 5%;
    background: #888;
    font-size: 30px;
    cursor: default;
}

.share-choose-login-reg__span {
    cursor: pointer;
}
.share-choose-login-reg__span:hover {
    color: #333;
    text-decoration: underline;
}

.share-choose-login-reg__span--act {
    color: #111;
}

/* 登录注册信息框 */
.share-account {
    background: #888;
    width: 80%;
    margin: 5% 10%;
    padding: 5%;
    font-size: 16px;
}

.share-account ::-webkit-input-placeholder {
    color:    #999;
    font-size: 18px;
}

.share-account__login {

}

.share-account input[type="text"],
.share-account input[type="password"] {
    margin: 10px;
    padding: 3px 12px;
    height: 40px;
    width: 90%;
    transition: .2s;
    font-size: 20px;
}
.share-account input[type="text"]:focus,
.share-account input[type="password"]:focus {
    box-shadow: 0 0 10px 3px #555;
}

.share-account__btn {
    display: block;
    margin: 5% auto;
    width: 70px;
    height: 35px;
    border: 2px solid #183d69;
    background: transparent;
    color: white;
    cursor: pointer;
}
.share-account__btn:hover {
    transition: .3s;
    background: #183d69;
}
.share-account__btn:disabled {
    background: #ff3a3a;
    cursor: default;
}

.share-account__register {
    /* text-align: right; */
}

.account-tips {
    margin-left: 10px;
    font-size: 14px;
    color: red;
}
.account-tips::before {
    content: url('./images/icon-warning.png');
    position: relative;
    top: 2px;
}

/* 主内容区 */
.l-content {
    position: fixed;
    right: 0;
    width: 74%;
    height: 100%;
    background: #aaa;
    transition: filter .2s linear;
}

.l-main {
    height: 100%;
}

.share-goods-list {
    /* display: flex;
    flex-direction: column; */
    overflow-y: scroll;
    position: relative;
    width: 100%;
    height: 90%;
    background: #999;
}

/* 单个商品信息 */
.share-goods-list__item {

    width: 70%;
    height: 20%;
    background: #666;
    margin-bottom: 5%;
    margin-left: 15%;
}


/* 通用弹窗 */
.l-alert-box {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/* 发起借出弹窗 */
.l-alert-box-lend {
    width: 800px;
    height: 500px;
    border-radius: 15px;
}

.l-alert-box-lend label {
    font-weight: bold;
}

.l-alert-box-lend input[type="text"] {
    width: 190px;
    padding-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #555;
    transition: .3s;
}

.l-alert-box-lend input[type="text"]:focus {
    border-bottom: 2px solid #111;
    width: 200px;
}

.l-alert-box-lend hr {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 350px;
    left: 50%;
    top: 90px;
}

#lend-launch__hd {
    width: 100%;
    height: 80px;
    background: #888;
    box-shadow: 0 5px 15px 3px rgba(0,0,0,0.5);
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #eee;
}

#lend-launch__hd button {
    float: right;
    height: 20px;
    width: 20px;
    margin: -60px 20px 0;
    font-size: 35px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#lend-launch__hd button:hover {
    color: #fff;
    text-shadow: 3px -2px 2px #000;
}

#lend-launch__bd {
    padding: 10px 30px;
}

.lend-launch__left {
    float: left;
    /* border: 1px solid #000; */
}

.lend-launch__right {
    float: right;
    /* border: 1px solid #000; */
    width: 45%;
}

.lend-launch__item {
    margin: 20px 0;
}

.lend-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#lend-map-position-txt {
    display: block;
    max-width: 350px;
    font-size: 14px;
}

#lend-map {
    width: 300px;
    height: 200px;
}

.lend-launch__ft {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 102px);
}

.lend-launch__ft button {
    width: 70px;
    height: 35px;
    margin-left: 20px;
}

/* 背景遮罩（弹窗层以下） */
#l-body-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

/* 通用提示（顶层） */
.l-prompt {
    position: fixed;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    z-index: 100;
}