* {
    box-sizing: border-box;    
}

/* @temp */
html ::-webkit-input-placeholder {
    color:    #999;
    font-size: 14px;
}


/* @temp-end */

/* 侧边栏 */
.l-sidebar {
    position: fixed;
    display: inline-block;
    width: 25%;
    height: 100%;
    overflow: hidden;
    transition: filter .1s linear;
}

.l-sidebar--nor {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    overflow: auto;
}

/* 左上按钮 */
.share-sidebar-top-btn {
    height: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 2.5% 5%;
}

.share-sidebar-top-btn img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#share-btn-logout:hover {

}

#share-btn-settings:hover {

}

/* 头像etc. */
.share-user-info {
    display: flex;
    flex-direction: column;
    /* height: 40%; */
    width: 90%;
    margin: 0 5%;
    padding: 15% 0;
    background: #bbb;

}
#share-user-info__head {
    margin: 5% auto;
}
#share-user-info__name {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
#share-user-info__name:hover {
    text-decoration: underline;
}

/* 借入发起按钮 */
.share-require {
    display: flex;
    padding: 2% 10%;
    width: 90%;
    margin: 5%;
    background: #bbb;
}

#share-require__btn {
    font-size: 25px;
    padding: 2% 15%;
    margin: 0 auto;
}

/* 功能选择 */
.share-column {
    margin: 5%;
    padding: 5% 15%;
    text-align: center;
    background: #bbb;
    font-size: 30px;
}

.share-column-list__item {
    height: 60px;
    line-height: 60px;
    cursor: pointer;
}
.share-column-list__item:hover {
    background: #aaa;
}

.share-column-list__item--act {
    background: #ddd;
}

/* 注册登录侧边栏 */
.l-sidebar--account {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    background: #aaa;
    overflow: auto;
    /* z-index: 1 !important; */
}

#share-login-cancel__a {
    display: block;
    margin: 3% 0 3% 3%;
    font-size: 25px;
    cursor: pointer;
}

.share-logo {
    margin: 3% auto;
}
#share-logo__img {
    width: 60%;
    margin: 0 20%;
}

.share-choose-login-reg {
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: 60%;
    margin: 10% auto 5%;
    background: #888;
    font-size: 30px;
    cursor: default;
}

.share-choose-login-reg__span {
    cursor: pointer;
}
.share-choose-login-reg__span:hover {
    color: #333;
    text-decoration: underline;
}

.share-choose-login-reg__span--act {
    color: #111;
}

/* 登录注册信息框 */
.share-account {
    background: #888;
    width: 80%;
    margin: 5% 10%;
    padding: 5%;
    font-size: 16px;
}

.share-account ::-webkit-input-placeholder {
    color:    #999;
    font-size: 18px;
}

.share-account__login {

}

.share-account input[type="text"],
.share-account input[type="password"] {
    margin: 10px;
    padding: 3px 12px;
    height: 40px;
    width: 90%;
    transition: .2s;
    font-size: 20px;
}
.share-account input[type="text"]:focus,
.share-account input[type="password"]:focus {
    box-shadow: 0 0 10px 3px #555;
}

.share-account__btn {
    display: block;
    margin: 5% auto;
    width: 70px;
    height: 35px;
    border: 2px solid #183d69;
    background: transparent;
    color: white;
    cursor: pointer;
}
.share-account__btn:hover {
    transition: .3s;
    background: #183d69;
}
.share-account__btn:disabled {
    background: #ff3a3a;
    cursor: default;
    border-color: red;
}

.share-account__register {
    /* text-align: right; */
}

.account-tips {
    margin-left: 10px;
    font-size: 14px;
    color: red;
}
.account-tips::before {
    content: url('./images/icon-warning.png');
    position: relative;
    top: 2px;
}

/* 页面右侧内容区 */
.l-content {
    position: fixed;
    right: 0;
    width: 74%;
    height: 100%;
    background: #aaa;
    transition: filter .1s linear;
}

/* 主内容 */
/* .l-main { */
.l-content>* {
    height: 100%;
}

/* 主内容顶部 */
.main__hd {
    display: flex;
    padding: 5px 5%;
    height: 80px;
}

.main-head-search {
    width: 55%;
    height: 50%;
}

.main-head-hot span:hover{
    text-decoration: underline;
    cursor: pointer;
}

#searchBox {
    width: 85%;
    height: 100%;
}

#mainSearchBtn {
    width: 10%;
    height: 100%;
}

.main-head-sort {
    margin-left: 15%;
    line-height: 75px;
    font-size: 20px;
}

/* 物品列表 */
.goods-list {
    /* display: flex;
    flex-direction: column; */
    overflow-y: auto;
    position: relative;
    width: 100%;
    height: 90%;
    background: #bbb;
    padding: 1%;
}

/* 单个物品信息 */
.goods-list__item {
    display: inline-block;
    width: 46%;
    height: 30%;
    background: #999;
    margin: 1.5%;
    transition: transform .2s;/* @delay */
}
.goods-list__item:hover {
    /* transform: scale(1.05); */
}

.goods-item__hd {
    display: flex;
    justify-content: space-around;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    background: #888;
}

.goods-item__bd {
    /* float导致高度塌陷 */
    position: relative;
    height: calc(100% - 30px);
    padding: 2% 5%;
}

.goods-item__pic {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
}

.goods-img {
    width: 100%;
    height: 100%;
}

.goods-img-intro {
    position: absolute;
    height: 25px;
    width: 100%;
    bottom: 0;
    padding: 0 3%;
    background: white;
    color: black;
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .7;
    transition: .1s;
}
.goods-img-intro:hover {
    height: 100%;
    padding: 5px 3%;
    line-height: initial;
    overflow: auto;
    white-space: normal;
    word-break: break-all;
}

.goods-item__info {
    float: right;
    position: relative;
    width: 50%;
    right: 6%;
}

.goods-info {
    margin-bottom: 10px;
}

.goods-property {
    font-weight: bold;
}

.goods-position__txt {
    text-decoration: underline;
    cursor: pointer;
    word-break: break-all;
}
.goods-position__txt:hover {
    text-decoration: underline;
    color: blue;
}

.goods-position-map {
    display: none;
    position: absolute;
    background: #666;
    width: 300px;
    height: 200px;
    right: 10px;
    top: 130px;
    background: transparent;
    overflow: hidden;
    z-index: 1;
}

#goods-map {
    height: 100%;
    position: relative;
    bottom: 100%;
    border: 1px solid #000;
}

#goods-map-close {
    position: absolute;
    right: 10px;
    font-size: 35px;
    z-index: 2;
    cursor: pointer;
}

#goods-map-close:hover {
    color: #000;
    transform: scale(1.05);
}

.goods-item__enter {
    position: absolute;
    top: 12px;
    right: 15px;
}

.goods-enter {
    width: 55px;
    height: 30px;
}


/* 通用弹窗 */
.alert-box {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

/* 发起借出弹窗 */
.alert-box-lend {
    width: 800px;
    height: 500px;
    border-radius: 15px;
}

.alert-box-lend label {
    font-weight: bold;
}

.alert-box-lend input[type="text"] {
    width: 190px;
    padding-left: 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #555;
    transition: .3s;
}

.alert-box-lend input[type="text"]:focus {
    border-bottom: 2px solid #111;
    width: 200px;
}

.alert-box-lend hr {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 350px;
    left: 50%;
    top: 90px;
}

#lend-launch__hd {
    width: 100%;
    height: 80px;
    background: #888;
    box-shadow: 0 5px 15px 3px rgba(0,0,0,0.5);
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    color: #eee;
}

#lend-launch__hd button {
    float: right;
    height: 20px;
    width: 20px;
    margin: -60px 20px 0;
    font-size: 35px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#lend-launch__hd button:hover {
    color: #fff;
    text-shadow: 3px -2px 2px #000;
}

#lend-launch__bd {
    padding: 10px 30px;
}

.lend-launch__left {
    float: left;
}

.lend-launch__right {
    float: right;
    width: 45%;
}

.lend-launch__item {
    margin: 20px 0;
}

.lend-launch__item .share-rmb{
    color: #aaa;
}

#lend-time {
    width: 60px;
}

#lend-price {
    border-bottom-color: #aaa;
}

.lend-img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#lend-map-position-txt {
    display: block;
    max-width: 350px;
    font-size: 14px;
    width: 320px;
    color: gray;
}

#lend-map {
    width: 300px;
    height: 200px;
    transition: .3s;
}
#lend-map:hover {
    /* transform: scale(1.2); */
    width: 350px;
    height: 233px;
}

#lend-left-char {
    position: absolute;
    top: 270px;
    right: 60px;
    font-size: 12px;
    color: #999;
}

#lend-left-char-num {
    color: black;
}

.lend-launch__ft {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
}

.lend-tips {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 35px;
    color: red;
    font-size: 14px;
}
.lend-tips::before {
    content: url('./images/icon-warning.png');
    position: relative;
    top: 3px;
}

.lend-btns {
    display: flex;
    justify-content: center;
}

.lend-btns button {
    width: 70px;
    height: 35px;
    margin: 0 10px;
}

/* 已借出类型选择 */
.my-lend-type {
    float: left;
    width: 50px;
    height: 100%;
    background: #aaa;
}

.my-lend-type__item {
    writing-mode: vertical-rl;
    height: 25%;
    width: 100%;
    line-height: 50px;
    /* = padding: 0 calc(50% - 17px); */
    font-size: 25px;
    text-align: center;
    /* = display: flex; */
    /* += justify-content: space-around; */
    letter-spacing: 10px;
    cursor: pointer;
    font-weight: lighter;
    overflow: hidden;
    transition: .2s;
}

.my-lend-type__item:hover {
    /* TODO:交叉重叠问题 */
    transform: scale(1.2);
}

.my-lend-type--act {
    font-weight: bold;
}

#my-lend-type__all {
    background: #feb890;
    color: #724730;
}
#my-lend-type__waiting, .my-lend-color-waiting {
    background: #feeb9e;
    color: #715804;
}
#my-lend-type__lending, .my-lend-color-lending {
    background: #ffba5f;
    color: #664f05;
}
#my-lend-type__finished, .my-lend-color-finished {
    background: #b0fdbd;
    color: #154e1b;
}

/* 已借出列表 */
.my-lend-list {
    float: right;
    position: relative;
    width: calc(100% - 50px);
    height: 100%;
    padding: 2% 10%;
    background: #bbb;
    overflow-y: auto;
}

.my-lend__item {
    display: flex;
    height: 25%;
    margin-bottom: 30px;
    background: #999;
}

.my-lend-status-color {
    width: 30px;
    height: 100%;
}


.my-lend-item__pic {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.my-lend-item__pic img{
    height: 86%;
    margin-top: 7%;
}

.my-lend-item__basic-info {
    width: 19%;
    margin-left: 3%;
}

.my-lend-item__publish-info {
    width: 18%;
}

.my-lend-item__basic-info div,
.my-lend-item__publish-info div {
    margin: 10px 0;
}

.my-lend-property {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.my-lend-item__description {
    width: 25%;
    margin-top: 10px;
}

.my-lend-item-description__txt {
    width: 90%;
    height: 75%;
    margin-top: 5px;
    padding: 5px 10px;
    border: 2px solid #000;
    word-break: break-all;
}

.my-lend-item__op {
    background: #555;
    width: calc(15% - 30px);
}

.my-lend-item-status__txt {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

.my-lend-btn {
    height: 30px;
    width: 70%;
    margin: 23% 15% 0;
}






/* 背景遮罩（弹窗层以下） */
#body-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

/* 通用提示（顶层） */
.prompt-box {
    position: fixed;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    z-index: 100;
}

.no-use {
    background: #c6efcd;
    background: #feeb9e;
    background: #ffc9ce;
    color: #154e1b;
    color: #715804;
    color: #cd6473;
    background: #ffba5f;
    color: #664f05;
}